body {
    width: 100%;
}


/* Menu NavBar */
#logo {
    margin-left: 17%;
    margin-right: 50%;
}


#logo img {
    position: absolute;
    margin-top: 2px;
    width: 60px;
}


#menu {
    background-color: rgb(44,62,80);
    border-bottom: 1px solid black;
}

#navbar {
    display: block;
    margin-right: 10%;
    margin-left: 50%;
    margin-bottom: 20px;
    padding-top: 25px;
    text-align: right;
}

#navbar a:link, a:visited {
    text-decoration: none;
    color: rgb(147,192,228);
    padding: 0px 20px 0px 20px;
}

#navbar a:hover, a:active {
    color: rgb(255,255,255);
}


/* Page Home */
#home {
    background-color: rgb(44,62,80);
    color: rgb(255,255,255);
    text-align: center;
    border-top: 1px solid black;
}


/* Page About */
#about {
    text-align: center;
    color: rgb(107,107,107);
    padding-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}


/* Page Our Team */
#team {
    background-color: rgb(230,230,230);
    text-align: center;
    color: rgb(107,107,107);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30%;
    padding-left: 30%;
    margin-top: 30px;
}


#team_img {
    background-color: rgb(230,230,230);
    text-align: center;
    color: rgb(107,107,107);
    padding-bottom: 30px;
}


#team_img img {
    margin-top: 20px;
    border: 8px solid darkgray;
    border-radius: 200px 200px 200px 200px;
}


#img_01 {
    display: inline-block;
    width: 20%;
}

#img_02 {
    display: inline-block;
    width: 20%;
}

#img_03 {
    display: inline-block;
    width: 20%;
}

#img_04 {
    display: inline-block;
    width: 20%;
}

.button_mail {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

a.button.button_mail {
    color: #fff;
}

.button {
    display: inline-block;
    padding: 2px 22px 2px 22px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-aline: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
        border-top-style: solid;
        border-top-width: 1px;
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-style: solid;
        border-left-width: 1px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
    boder-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
}

.glyphicon-envelope {
    font-size: 20px;
}


/* Page Portifolio */
#portfolio {
    text-align: center;
    color: rgb(107,107,107);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 30px;
}



#link_port {
    padding: 35px 0px 50px 0px;
}

.button_link {
    color: #777;
    background-color: #ffffff;
    border-color: #6b6b6b;
}

a.button.button_link {
    color: #777;
}

.button {
    display: inline-block;
    padding: 2px 22px 2px 22px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-aline: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid dimgray;
        border-top-style: solid;
        border-top-width: 1px;
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-style: solid;
        border-left-width: 1px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
    boder-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
}

.gallery {
    padding: 0px 30px 0px 30px;
    margin: 0px 15px 0px 15px;
    display: inline-block;
    width: 30%;
}


.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    background-color: rgb(159,158,159);
    color: rgb(255,255,255);
    padding: 1px 0px 5px 10px;
    margin: 0px 0px 30px 5px;
    border: 1px solid transparent;
    text-align: left;
}



/* Page Contact */
#contact {
    background-color: rgb(230,230,230);
    color: rgb(107,107,107);
    text-align: center;
    padding-top: 20px;
    padding-right: 20%;
    padding-left: 20%;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(44,62,80);
    font-size: 20px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}


.container {
    border-radius: 5px;
    margin-top: 30px;
    padding-top: 30px 30px 0px 0px;
    float: center;
}

.col-100 {

    width: 100%;
    margin-top: 10px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

div.row {
    margin-right: 45%;
    margin-left: 10%;
}

textarea {
    height: 120px;
}


/* Footer */
#footer {
    color: rgb(107,107,107);
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.home_footer {
    display: inline-block;
    padding-right: 15px;
}

a.home_footer {
    color: rgb(107,107,107);
}

.about_footer {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.team_footer {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.port_footer {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.contact_footer {
    display: inline-block;
    padding-left: 15px;
}
