body {
    width: 99%;
}


/* Menu NavBar */
#logo {
    margin-left: 17%;
    margin-right: 50%;
}


#logo img {
    position: absolute;
    margin-top: 2px;
    width: 60px;
}


#menu {
    background-color: rgb(44,62,80);
    border-bottom: 1px solid black;
}

#navbar {
    display: block;
    margin-right: 10%;
    margin-left: 50%;
    margin-bottom: 20px;
    padding-top: 25px;
    text-align: right;
}

#navbar a:link, a:visited {
    text-decoration: none;
    color: rgb(147,192,228);
    padding: 0px 20px 0px 20px;
}

#navbar a:hover, a:active {
    color: rgb(255,255,255);
}


/* Page Home */
#home {
    background-color: rgb(44,62,80);
    color: rgb(255,255,255);
    text-align: center;
    border-top: 1px solid black;
}


/* Page About */
#about {
    text-align: center;
    color: rgb(107,107,107);
    margin-left: 25%;
    margin-right: 25%;
}


/* Page Our Team */
#team {
    background-color: rgb(230,230,230);
    text-align: center;
    color: rgb(107,107,107);
}

#team img {
    border: 8px solid darkgray;
    border-radius: 200px 200px 200px 200px;
}

#img_01 {
    display: inline-block;
    width: 40%;
}

#img_02 {
    display: inline-block;
    width: 40%;
}

#img_03 {
    display: inline-block;
    width: 40%;
}

#img_04 {
    display: inline-block;
    width: 40%;
}