<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Title</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div>
            <div>
                <img src="#">
            </div>
            <div>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Team</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <div>
            <h1>We Build Awesome Wireframe</h1>
            <p>A Template by Your Company</p>

            <div>
                <img src="#">
            </div>
        </div>

        <div>
            <h1>About Us</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
            <div>
                <img src="#">
            </div>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>

        <div class="row container">
            <h1>Our Team</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="#">
                <h3>Nome</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <span>Envelope</span>

                <img class="rounded-circle img-fluid d-block mx-auto" src="#">
                <h3>Nome</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <span>Envelope</span>

                <img class="rounded-circle img-fluid d-block mx-auto" src="#">
                <h3>Nome</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <span>Envelope</span>

                <img class="rounded-circle img-fluid d-block mx-auto" src="#">
                <h3>Nome</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <span>Envelope</span>
            </div>
        </div>

        <div>
            <h1>Portfolio</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <div>
                <a href="#">All</a>
                <a href="#">Design</a>
                <a href="#">Identity</a>
                <a href="#">Photography</a>
                <a href="#">Ilustration</a>
            </div>

            <div>
                <img src="#"> Image
                <h3>Design</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div>
                <img src="#"> Image
                <h3>Identify</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div>
                <img src="#"> Image
                <h3>Design</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div>
                <img src="#"> Image
                <h3>Photography</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div>
                <img src="#"> Image
                <h3>Design</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div>
                <img src="#"> Image
                <h3>Identify</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div>
                <img src="#"> Image
                <h3>Ilustration</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div>
                <img src="#"> Image
                <h3>Ilustration</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div>
                <img src="#"> Image
                <h3>Design</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>

        <div>
            <h1>Contact</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <div>
                <form>
                    <input type="text" placeholder="Enter your Name">
                    <input type="text" placeholder="Enter your Address">
                    <input type="text" placeholder="Enter your City">
                    <input type="email" placeholder="Enter your Email Address">
                    <textarea name="message" rows="7" placeholder="Enter your Email Message"></textarea>
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>

    <footer>
        <div>
            <div>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Team</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
            </div>
            <small>Copyright c Your Company 2014. All Rights Reserved</small>
        </div>
    </footer>
</html>