<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Title</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
    </head>
    <body>
        <div id="menu">
            <div id="logo">
                <img src="../img/sua-logo-aqui.png">
            </div>
            <div id="navbar">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Team</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
            </div>
            <div id="home">
                <h1>We Build Awesome Wireframe</h1>
                <p>A Template by Your Company</p>

                <div>
                    <img src="../img/img_home.png">
                </div>
            </div>
        </div>

        <div id="about">
            <h1>About Us</h1>
            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </small>
            <div>
                <img src="../img/img_about.png">
            </div>
            <small>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </small>
        </div>

        <div>
            <div id="team">
                <h1>Our Team</h1>
                <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </small>
            </div>
            <div id="team_img">
                <div id="img_01">
                    <img src="../img/user-01.png">
                    <h3>Name</h3>
                    <small>Contrary to popular belief, Lorem Ipsum is not simply random text.</small>
                    <br><br>
                    <a class="button button_mail" href="#" role="button">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </div>

                <div id="img_02">
                    <img src="../img/user-02.png">
                    <h3>Name</h3>
                    <small>Contrary to popular belief, Lorem Ipsum is not simply random text.</small>
                    <br><br>
                    <a class="button button_mail" href="#" role="button">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </div>

                <div id="img_03">
                    <img src="../img/user-01.png">
                    <h3>Name</h3>
                    <small>Contrary to popular belief, Lorem Ipsum is not simply random text.</small>
                    <br><br>
                    <a class="button button_mail" href="#" role="button">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </div>

                <div id="img_04">
                    <img src="../img/user-02.png">
                    <h3>Name</h3>
                    <small>Contrary to popular belief, Lorem Ipsum is not simply random text.</small>
                    <br><br>
                    <a class="button button_mail" href="#" role="button">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </div>
            </div>
        </div>

        <div id="portfolio">
            <h1>Portfolio</h1>
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley.
            </small>
            <div id="link_port">
                <a class="button button_link" href="#">All</a>
                <a class="button button_link" href="#">Design</a>
                <a class="button button_link" href="#">Identity</a>
                <a class="button button_link" href="#">Photography</a>
                <a class="button button_link" href="#">Ilustration</a>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Design</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Identify</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Design</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Photography</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Identify</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Identify</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Ilustration</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Ilustration</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../img/image.png">
                </a>
                <div class="desc">
                    <h3>Design</h3>
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
            </div>
        </div>

        <div id="contact">
            <h1>Contact</h1>
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley.
            </small>
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-100">
                            <input type="text" id="name" name="name" placeholder="Enter your Name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-100">
                            <input type="text" id="address" name="address" placeholder="Enter your Address">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-100">
                            <input type="text" id="city" name="city" placeholder="Enter your City">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-100">
                            <input type="email" id="email" name="email" placeholder="Enter your Email Address">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-100">
                            <textarea id="message" name="message" placeholder="Enter your Email Message"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </body>

    <footer id="footer">
        <div>
            <div>
                <div class="home_footer">
                    <a href="#">Home </a>
                </div>
                :
                <div class="about_footer">
                    <a href="#">About </a>
                </div>
                :
                <div class="team_footer">
                    <a href="#">Team </a>
                </div>
                :
                <div class="port_footer">
                    <a href="#">Portfolio </a>
                </div>
                :
                <div class="contact_footer">
                    <a href="#">Contact</a>
                </div>
            </div>
            <small>Copyright c Your Company 2014. All Rights Reserved</small>
        </div>
    </footer>
</html>